/* webview */

.company {
  position: relative;
  /* width: 1440px;
  height: 2464px; */
  width: 100%;
  height: auto;
  background-color: var(--white);
}

.company .element {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 1210px;
  left: 0;
}

.company .text-wrapper {
  display: flex;
  width: 1440px;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 88px 212px 32px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--white);
}

.company .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1;
  flex-grow: 1;
  position: relative;
  align-self: stretch;
}

.company .heading {
  align-self: stretch;
  color: var(--dark);
  font-size: 24px;
  line-height: 32px;
  position: relative;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
}

.company .description {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26px;
}

.company .underline-marker {
  position: absolute;
  width: 90px;
  height: 3px;
  top: 30px;
  left: 13px;
}

.company .div-wrapper {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: center;
  padding: 8px 212px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--white);
}

.company .div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
}

.company .heading-2 {
  align-self: stretch;
  color: var(--grey);
  font-size: 18px;
  line-height: 26px;
  position: relative;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
}

.company .element-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 16px 212px 88px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--white);
}

.company .frame {
  display: inline-flex;
  align-items: flex-start;
  gap: 25px;
  position: relative;
  flex: 0 0 auto;
}

.company .profile-card {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  background-color: var(--white);
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--line);
}

.company .name-and-position {
  display: flex;
  width: 322px;
  align-items: flex-end;
  padding: 80px 24px 12px;
  position: relative;
  flex: 0 0 auto;
}

.company .p {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 400;
  color: var(--dark);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.company .span {
  font-weight: 700;
}

.company .text-wrapper-2 {
  font-family: "Inter-Regular", Helvetica;
}

.company .content {
  display: flex;
  flex-direction: column;
  width: 322px;
  align-items: flex-start;
  padding: 12px 24px 24px;
  position: relative;
  flex: 0 0 auto;
}

.company .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 22px;
}

.company .avatar {
  position: absolute;
  width: 150px;
  height: 132px;
  top: 0;
  left: 173px;
  background-color: #f1b99b80;
  background-image: url(./img/tony-horrell.png);
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  border-radius: 0 0 0 90px;
  background-position: right;
  background-size: contain;
}

.company .avatar-2 {
  left: 173px;
  background-color: #90b7e280;
  background-image: url(./img/mask-group-3.png);
  position: absolute;
  width: 150px;
  height: 132px;
  top: 0;
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  border-radius: 0 0 0 90px;
  background-position: center;
}

.company .avatar-3 {
  left: 173px;
  background-color: #94c13680;
  background-image: url(./img/mask-group-3.png);
  position: absolute;
  width: 150px;
  height: 132px;
  top: 0;
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  border-radius: 0 0 0 90px;
  background-position: center;
}

.company .avatar-4 {
  left: 172px;
  background-color: #bed39280;
  background-image: url(./img/noelle-gahan.png);
  position: absolute;
  width: 150px;
  height: 132px;
  top: 0;
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  border-radius: 0 0 0 90px;
  background-position: right;
  background-size: contain;
}

.company .avatar-5 {
  left: 172px;
  background-color: #4e81c280;
  background-image: url(./img/richard-walker.png);
  position: absolute;
  width: 150px;
  height: 132px;
  top: 0;
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  border-radius: 0 0 0 90px;
  background-position: right;
  background-size: contain;
}

.company .avatar-6 {
  left: 172px;
  background-color: #eb5c2b80;
  background-image: url(./img/carsten-fritz.png);
  position: absolute;
  width: 150px;
  height: 132px;
  top: 0;
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  border-radius: 0 0 0 90px;
  background-position: right;
  background-size: contain;
}

.company .hero {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: flex-start;
  gap: 16px;
  padding: 88px 212px;
  position: absolute;
  top: 80px;
  left: 0;
  background-color: var(--card-bg);
  border-radius: 0px 0px 44px 44px;
}

.company .top {
  display: inline-flex;
  align-items: center;
  gap: 64px;
  position: relative;
  flex: 0 0 auto;
}

.company .line {
  top: 168px;
  left: 697px;
  border-color: #E4E7EC!important;
  position: absolute;
  width: 354px;
  height: 294px;
  border-radius: 16px;
  border: 1px solid;
}

.company .text-2 {
  display: flex;
  flex-direction: column;
  width: 546px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
}

.company .img {
  position: absolute;
  width: 96px;
  height: 6px;
  top: 57px;
  left: 13px;
}

.company .heading-3 {
  width: fit-content;
  color: var(--dark);
  font-size: 44px;
  line-height: 60px;
  white-space: nowrap;
  position: relative;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
}

.company .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.company .span-wrapper {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 18px;
  letter-spacing: 0.09px;
  line-height: 26px;
  position: relative;
  align-self: stretch;
}

.company .text-wrapper-4 {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #646c6c;
  font-size: 18px;
  letter-spacing: 0.09px;
  line-height: 26px;
}

.company .image {
  display: flex;
  flex-direction: column;
  width: 406px;
  height: 354px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.company .line-2 {
  top: -49px;
  left: 166px;
  border-color: var(--oren-light)!important;
  opacity: 0.5;
  position: absolute;
  width: 354px;
  height: 294px;
  border-radius: 16px;
  border: 1px solid;
}

.company .gallery-features {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  object-fit: cover;
}

.company .dot-section {
  position: absolute;
  width: 93px;
  height: 92px;
  top: 389px;
  left: 571px;
}

.company .bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.company .footer-section {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: center;
  justify-content: center;
  padding: 40px 112px 0px;
  position: absolute;
  top: 2420px;
  left: 0;
  background-color: var(--white);
}

.company .bottom-info-devider {
  display: flex;
  align-items: center;
  padding: 32px 0px 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: var(--line);
}

.company .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark);
  font-size: 12px;
  letter-spacing: 0.12px;
  line-height: 20px;
  white-space: nowrap;
}

.company .navigation-desktop {
  display: flex;
  width: 1440px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 112px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--line);
}

.company .logo-cranium-light {
  position: relative;
  width: 86.68px;
  height: 56px;
  overflow: hidden;
}

.company .element-a {
  position: relative;
  width: 86px;
  height: 51px;
  top: 3px;
  left: 2px;
}

.company .text-wrapper-6 {
  position: absolute;
  top: 40px;
  left: 1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #050607;
  font-size: 9px;
  text-align: center;
  letter-spacing: 4.94px;
  line-height: normal;
}

.company .overlap-group {
  position: absolute;
  width: 81px;
  height: 40px;
  top: 0;
  left: 0;
}

.company .group {
  position: absolute;
  width: 35px;
  height: 29px;
  top: 0;
  left: 27px;
}

.company .subtraction {
  position: absolute;
  width: 81px;
  height: 11px;
  top: 28px;
  left: 0;
}

.company .div-2 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.company .navigation-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 28px 0px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.company .text-wrapper-7 {
  color: var(--grey);
  position: relative;
  width: fit-content;
  margin-top: -4px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.company .navigation-button-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 28px 0px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-color: var(--blue);
}

.company .technology {
  color: var(--blue);
  position: relative;
  width: fit-content;
  margin-top: -4px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.company .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--blue);
  border-radius: 8px;
  all: unset;
  box-sizing: border-box;
}

.company .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--paragraph-s-semi-bold-font-family);
  font-weight: var(--paragraph-s-semi-bold-font-weight);
  color: var(--white);
  font-size: var(--paragraph-s-semi-bold-font-size);
  letter-spacing: var(--paragraph-s-semi-bold-letter-spacing);
  line-height: var(--paragraph-s-semi-bold-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-s-semi-bold-font-style);
}

.button-color {
  background-color: #4E81C2!important;
  border: none!important;
  width: 100px!important;
  height: 35px!important;
}

.contact-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -4px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

/* business model type */
.showType {
  /* padding-top: 76px; */
  position: relative;
  top: 77px;
}

.showType-ai {
  position: relative;
  bottom: 24.5%;
}

.typeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 60vh;
}

.payment-button {
  width: 250px;
  height: 150px;
  background-color: var(--blue-light)!important;
  border-radius: 16px!important;
  border: none!important;
}

.fintech-button {
  width: 250px;
  height: 150px;
  background-color: #EB5C2B!important;
  border-radius: 16px!important;
  border: none!important;
}

.button-font {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--white);
  font-size: 24px;
  text-align: center;
  letter-spacing: 3.6px;
  line-height: 60px;
  white-space: nowrap;
}

.pr-30 {
  padding-right: 30px;
}

.pl-30 {
  padding-left: 30px;
}
/* business model type end  */


/* mobile responsive */

@media (min-width: 320px) and (max-width: 767px) {

  .pt-50 {
    padding-top: 50px;
  }

  .section-1 {
    background-color: #F5F7F9;
    border-radius: 0px 0px 60px 60px;
  }

  .content-mobile-sec1 {
    padding: 20px 40px;
  }

  .content-mobile-sec2{
    /* padding: 20px 40px; */
    padding: 20px 0px 20px 40px;
  }

  .company-image2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }

  .about-title {
    font-size: 28px;
    font-weight: 600;
    color: var(--dark);
    border-bottom: 4px solid #A02C77;
    width: 71px;
  }

  .about-content {
    padding-top: 20px;
    color: grey;
    font-size: 18px;
    font-family: "Inter-Regular", Helvetica;
    letter-spacing: 0.09px;
  }

  .ourTeam-title {
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--dark);
    font-size: 24px;
    letter-spacing: 0;
    line-height: 30px;
    border-bottom: 4px solid #A02C77;
    width: 120px;
  }

  .section-2 {
    padding-top: 50px;
  }

  .ourTeam-content {
    padding-top: 1rem;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--grey);
    font-size: 16px;
    letter-spacing: 0.14px;
    line-height: 22px;
  }

  .ourTeam-executive {
    padding-top: 40px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--grey);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
  }

  .exec_teamMember {
    overflow-x: auto;
    display: flex;
    width: fit-content;
  }

  /* profile */
  .profile-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: flex-start;
    position: relative;
    background-color: var(--white);
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--line);
    margin-left: 20px;
  }

  .profile-card .name-and-position {
    display: flex;
    align-items: flex-end;
    padding: 80px 24px 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .profile-card .tony-horrell-CEO {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 400;
    color: var(--dark);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }

  .profile-card .text-wrapper {
    font-weight: 700;
  }

  .profile-card .span {
    font-family: "Inter-Regular", Helvetica;
  }

  .profile-card .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 24px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .profile-card .div {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--grey);
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: 22px;
  }

  .profile-card .avatar {
    position: absolute;
    width: 150px;
    height: 132px;
    top: 0;
    left: 150px;
    background-color: #f1b99b80;
    background-image: url(./img/tony-horrell.png);
    background-repeat: no-repeat;
    border-radius: 0 0 0 90px;
    background-position: right;
    background-size: contain;
  }

  .profile-card .avatar-2 {
    position: absolute;
    width: 150px;
    height: 132px;
    top: 0;
    left: 150px;
    background-color: #90b7e280;
    background-image: url(./img/mask-group-3.png);
    background-repeat: no-repeat;
    border-radius: 0 0 0 90px;
    background-position: right;
    background-size: contain;
  }

  .profile-card .avatar-3 {
    position: absolute;
    width: 150px;
    height: 132px;
    top: 0;
    left: 150px;
    background-color: #94c13680;
    background-image: url(./img/mask-group-3.png);
    background-repeat: no-repeat;
    border-radius: 0 0 0 90px;
    background-position: right;
    background-size: contain;
  }

  .profile-card .avatar-4 {
    position: absolute;
    width: 150px;
    height: 132px;
    top: 0;
    left: 150px;
    background-color: #bed39280;
    background-image: url(./img/noelle-gahan.png);
    background-repeat: no-repeat;
    border-radius: 0 0 0 90px;
    background-position: right;
    background-size: contain;
  }

  .profile-card .avatar-5 {
    position: absolute;
    width: 150px;
    height: 132px;
    top: 0;
    left: 150px;
    background-color: #4e81c280;
    background-image: url(./img/richard-walker.png);
    background-repeat: no-repeat;
    border-radius: 0 0 0 90px;
    background-position: right;
    background-size: contain;
  }

  .profile-card .avatar-6 {
    position: absolute;
    width: 150px;
    height: 132px;
    top: 0;
    left: 150px;
    background-color: #eb5c2b80;
    background-image: url(./img/carsten-fritz.png);
    background-repeat: no-repeat;
    border-radius: 0 0 0 90px;
    background-position: right;
    background-size: contain;
  }

  .overflow {
    overflow: auto;
  }

    /* Hide scrollbar for Chrome, Safari and Opera */
  .overflow::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .overflow {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .button-color {
    border: none!important;
    background-color: #4E81C2!important;
  }

  /* mobile nav  */

.header-mobile-menu {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header-mobile-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--card-bg);
}

.header-mobile-menu li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--dark);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

/* .header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
} */

.header-mobile-menu .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header-mobile-menu .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header-mobile-menu .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 33px 20px;
  position: relative;
  user-select: none;
}

.header-mobile-menu .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header-mobile-menu .menu-icon .navicon:before,
.header-mobile-menu .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header-mobile-menu .menu-icon .navicon:before {
  top: 5px;
}

.header-mobile-menu .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header-mobile-menu .menu-btn {
  display: none;
}

.header-mobile-menu .menu-btn:checked ~ .menu {
  /* max-height: 240px; */
  min-height: 800px;
}

.header-mobile-menu .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header-mobile-menu .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header-mobile-menu .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header-mobile-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header-mobile-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.bmodels-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 16px;
  background-color: var(--dark);
  border-radius: 0px 0px 32px 32px;
}

.payment-button {
  position: relative;
  width: 130px;
  height: 70px;
  background-color: var(--blue-light)!important;
  border-radius: 16px;
  border: none!important;
}

.fintech-button {
  position: relative;
  width: 130px;
  height: 70px;
  background-color: #EB5C2B!important;
  border-radius: 16px;
  border: none!important;
}

.collapse-padding {
  padding: 20px 45px;
}

.contactBtn-mobile {
  width: 315px!important;
  height: 45px!important;
}


  /* Footer section  */

  .footer-section {
    padding: 24px 24px 0px;
  }

  .footer-section .bottom-info-devider {
    border-top-width: 1px;
    border-top-style: solid;
    border-color: var(--line);
    padding: 12px 0px 24px;
  }

  .footer-section .text-wrapper {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--dark);
    font-size: 11px;
    text-align: center;
    letter-spacing: 0.11px;
    line-height: 20px;
  }

}